<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="visit">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Visites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planning">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Planning</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patient-record">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Dossier patient</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
